/*html and body tags are set 100% to allow div tags (or whatever) to have height set to a %, not just px value */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }

  /* clay added 10/4 for dropdown menu */
#main_nav {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		width: 100%;
		
		border-radius: 0 0 5px 5px;
		box-shadow: 0 0 8px 2px #000;
		}

#main_nav:target {
		display: block;
		}

#access_nav {
		background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
		background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
	}

#access_top {
		background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
	}

#main {
	position: relative;
	top: 150px;
	left: 0;
	width: 20%;
}

#settings {
	position: relative;
	top: 200px;
	width: 20%;
	visibility: hidden;
}

#map {
	position: absolute;
	height: 100%;
	width: 80%;
	top: 0px;
	margin-left: 20%;
	margin-right: 0;
	background-color: grey;
}

#directionsPanel,#userPanel {
	top: 20px;
	position: absolute;
	visibility: hidden;
	width: 20%;
	height: 100%;
	overflow: scroll;
}



.container {
    display: inline-block;
    cursor: pointer;
}

#topSelection {
	width: 20%;
}
